<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light">
      {{ 'FAVORITE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="aliments">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Alimenti</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="meals">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Pasti</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


</ion-content>
