.content {
  display: flex;
  height: 100%;
  justify-items: center;
}

h2 {
  align-self: center;
  width: 100%;
}

ion-list-header {
  font-weight: bold;
}

.delete-icon {
  color: red;
}

ion-list {
  margin-bottom: 20%;
}
