<ion-header>
    <ion-toolbar color="primary">
        <ion-title color="dark">{{ 'PASTO' | translate | uppercase}}</ion-title>
        <ion-button slot="start" fill="clear" color="dark" (click)="back()">
            <ion-icon name="arrow-back" size="large"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-item lines="full" color="secondary" class="recap">
    <ion-grid fixed="true" text-center="true" no-padding no-margin>
        <ion-row>
            <ion-col>
                <ion-item lines="none">
                    <ion-icon size="large" src="assets/images/calorie.svg" margin-end="10px"></ion-icon>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item lines="none">
                    <p>{{'CALORIE' | translate | titlecase}}</p>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item lines="none">
                    {{ pasto.getTotaleCalorie().toFixed(0)}} kcal
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item lines="none">
                    <ion-icon size="large" src="assets/images/proteine.svg" margin-end="10px"></ion-icon>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item lines="none">
                    <p>{{'PROTEINE' | translate | titlecase}}</p>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item lines="none">
                    {{ pasto.getTotProteine().toFixed(0)}} g
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item lines="none">
                    <ion-icon size="large" src="assets/images/grassi.svg" margin-end="10px"></ion-icon>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item lines="none">
                    <p>{{'GRASSI' | translate | titlecase}}</p>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item lines="none">
                    {{ pasto.getTotGrassi().toFixed(0)}} g
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item lines="none">
                    <ion-icon size="large" src="assets/images/carboidrati.svg" margin-end="10px"></ion-icon>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item lines="none">

                    <p>{{'CARBOIDRATI' | translate | titlecase}}</p>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item lines="none">
                    {{ pasto.getTotCarboidrati().toFixed(0)}} g
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-item>
<ion-content>
    <div *ngIf="pasto.ingredienti.length == 0" class="info">
        <h3>{{'LISTA_VUOTA' | translate | uppercase}}</h3>
        <p text-center="">{{'AGGIUNGI_ALIMENTO' | translate}}</p>
    </div>
    <ion-list *ngIf="pasto.ingredienti.length > 0">
        <ion-list-header>{{'ALIMENTI_AGGIUNTI' | translate}}</ion-list-header>
        <ion-item-sliding *ngFor="let ingrediente of this.pasto.ingredienti" #sliding>
            <ion-item class="bg-white" (click)="showItemOptions(sliding)">
                <ion-grid fixed="true" text-center="true">
                    <ion-row align-items-center>
                        <ion-col align-self-center size="6">{{ingrediente.alimento.nome}}</ion-col>
                        <ion-col align-self-center size="3"
                                 text-end>{{(ingrediente.alimento.calorie * ingrediente.quantita / 100).toFixed(0)}}
                            kcal
                        </ion-col>
                        <ion-col align-self-center size="3" text-end>{{ingrediente.quantita}} g</ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="secondary" (click)="modificaAlimento(ingrediente, sliding)">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-item-option>
                <ion-item-option color="danger" (click)="eliminaAlimento(ingrediente)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
        <ion-fab-button (click)="aggiungiAlimento()" color="secondary">
            <ion-icon name="pizza" size="large" color="light"></ion-icon>
        </ion-fab-button>
        {{'ALIMENTI' | translate | titlecase}}
    </ion-fab-list>
    <ion-fab-list side="start">
        <ion-fab-button (click)="aggiungiRicetta()" color="secondary">
            <ion-icon name="book" size="large" color="light"></ion-icon>
        </ion-fab-button>
        {{'RICETTE' | translate | titlecase}}
    </ion-fab-list>
</ion-fab>

