.info {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

ion-list-header {
  font-weight: bold;
}

.delete-icon {
  color: red;
}

.valueItem {
  text-align: center;
  width: 100%
}

.alimentList{
  margin-bottom: 20%;
}
.recapList{
  width: 100%
}

