<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button color="dark"></ion-back-button>
      </ion-buttons>
      <ion-searchbar [(ngModel)]="ricerca" (ionChange)="reset()" animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>{{ 'CATEGORIA_ALIMENTARE' | translate }}</ion-label>
        <ion-select [(ngModel)]="categoriaSelezionata" interface="popover">
            <ion-select-option value="CARNE">{{ 'CARNE' | translate }}</ion-select-option>
            <ion-select-option value="LATTICINI">{{ 'LATTICINI' | translate }}</ion-select-option>
            <ion-select-option value="FRUTTA">{{ 'FRUTTA' | translate }}</ion-select-option>
            <ion-select-option value="LEGUMI">{{ 'LEGUMI' | translate }}</ion-select-option>
            <ion-select-option value="CEREALI">{{ 'CEREALI' | translate }}</ion-select-option>
            <ion-select-option value="ALCOOL">{{ 'ALCOOL' | translate }}</ion-select-option>
            <ion-select-option value="CONDIMENTO">{{ 'CONDIMENTO' | translate }}</ion-select-option>
            <ion-select-option value="VERDURA">{{ 'VERDURA' | translate }}</ion-select-option>
            <ion-select-option value="PESCE">{{ 'PESCE' | translate }}</ion-select-option>
            <ion-select-option value="UOVA">{{ 'UOVA' | translate }}</ion-select-option>
            <ion-select-option value="DOLCE">{{ 'DOLCE' | translate }}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-content class="slideHeight">
        <div >
            <ion-list>
                <div *ngFor="let alimento of alimenti$ | async">
                <ion-item *ngIf="alimento.categoriaAlimentare === categoriaSelezionata || (categoriaSelezionata === '' && alimento.nome.toUpperCase().includes(ricerca.toUpperCase()))" (click)="onClick(alimento)">
                    {{alimento.nome}}
                </ion-item>
                </div>
            </ion-list>
        </div>
    </ion-content>
</ion-content>
