<ion-header>
    <ion-toolbar>
        <ion-button slot="start" fill="clear" color="dark" (click)="back()">
            <ion-icon name="arrow-back" size="large"></ion-icon>
        </ion-button>
        <ion-searchbar [(ngModel)]="ricerca" (ionChange)="reset()" animated="true"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item color="light" lines="none">
        <ion-label>{{ 'CATEGORIA_ALIMENTARE' | translate }}</ion-label>
        <ion-select [(ngModel)]="categoriaSelezionata" interface="popover">
            <ion-select-option value="CARNE">{{ 'CARNE' | translate }}</ion-select-option>
            <ion-select-option value="LATTICINI">{{ 'LATTICINI' | translate }}</ion-select-option>
            <ion-select-option value="FRUTTA">{{ 'FRUTTA' | translate }}</ion-select-option>
            <ion-select-option value="LEGUMI">{{ 'LEGUMI' | translate }}</ion-select-option>
            <ion-select-option value="CEREALI">{{ 'CEREALI' | translate }}</ion-select-option>
            <ion-select-option value="ALCOOL">{{ 'ALCOOL' | translate }}</ion-select-option>
            <ion-select-option value="CONDIMENTO">{{ 'CONDIMENTO' | translate }}</ion-select-option>
            <ion-select-option value="VERDURA">{{ 'VERDURA' | translate }}</ion-select-option>
            <ion-select-option value="PESCE">{{ 'PESCE' | translate }}</ion-select-option>
            <ion-select-option value="UOVA">{{ 'UOVA' | translate }}</ion-select-option>
            <ion-select-option value="DOLCE">{{ 'DOLCE' | translate }}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item color="secondary" lines="full">
        <ion-label>{{"ALIMENTO" | translate | titlecase}}</ion-label>
        <ion-label class="kcal-label">kcal/100 gr</ion-label>
    </ion-item>
    <ion-content class="slideHeight">
        <div>
            <ion-list>
                <div *ngIf="!skeletonFlag">
                    <ion-item *ngFor="let skeleton of skeletons">
                        <ion-grid fixed="true">
                            <ion-row align-items-center>
                                <ion-col size="9"><ion-skeleton-text animated></ion-skeleton-text></ion-col>
                                <ion-col text-end size="3" justify-content-end><ion-skeleton-text animated></ion-skeleton-text></ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </div>
                <div *ngFor="let alimento of alimenti$ | async">
                <div *ngIf="skeletonFlag">
                    <ion-item
                            *ngIf="alimento.categoriaAlimentare === categoriaSelezionata || (categoriaSelezionata === '' && alimento.nome.toUpperCase().includes(ricerca.toUpperCase()))"
                            (click)="onClick(alimento)" button="true">
                        <ion-grid fixed="true">
                            <ion-row align-items-center>
                                <ion-col size="9">{{alimento.nome}}</ion-col>
                                <ion-col text-end size="3" justify-content-end>{{alimento.calorie}} kcal</ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </div>
                </div>
            </ion-list>
        </div>
    </ion-content>
</ion-content>
