<ion-header>
  <ion-toolbar>
    <ion-title color="dark" text-center>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn login auth-page">
  <!-- aim choice -->
  <ion-slides id="slider" pager="true" [options]="slideOpts">
    <ion-slide>
      <div>
        <div margin="10px">
          <ion-text>{{'TITLE_OBIETTIVO' | translate }}</ion-text>
        </div>
        <ion-img src="../../../assets/images/trophy.png" class="img-dim"></ion-img>

          <div margin="20px">
            <ion-button (click)="scegliObiettivo($event)" id="obiettivoDimagrimento" size="large" expand="block" shape="round" color="primary" >{{ 'DIMAGRIRE' | translate }}</ion-button>
            <ion-button (click)="scegliObiettivo($event)" id="obiettivoMassa" size="large" expand="block" shape="round" color="primary" >{{ 'MASSA' | translate }}</ion-button>
            <ion-button (click)="scegliObiettivo($event)" id="obiettivoSano" size="large" expand="block" shape="round" color="primary">{{ 'SANO' | translate }}</ion-button>
          </div>
      </div>
    </ion-slide>

    <!-- personal info -->
    <ion-slide>
      <ion-grid>
        <ion-col>
      <form [formGroup]="stepTwoForm" class="list-form">
        <ion-list>
          <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
              {{ 'ALTEZZA' | translate | titlecase }}</ion-label>
            <ion-input color="secondary" type="number" inputmode="numeric" min="120" max="250" formControlName="altezza"></ion-input>
          </ion-item>

          <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
              {{ 'PESO' | translate | titlecase }}</ion-label>
            <ion-input color="secondary" type="number" inputmode="numeric" min="30" max="200" formControlName="peso"></ion-input>
          </ion-item>

          <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
              {{ 'DATA_DI_NASCITA' | translate | titlecase }}</ion-label>
            <ion-input color="secondary" type="date" formControlName="dataDiNascita" placeholder=""></ion-input>
          </ion-item>
          <ion-item no-padding class="animated fadeInUp">
            <ion-label>{{'SESSO' | translate | titlecase}}</ion-label>
            <ion-select formControlName="sesso">
              <ion-select-option value="maschio">{{'MASCHIO' | translate}}</ion-select-option>
              <ion-select-option value="femmina">{{'FEMMINA' | translate}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <div margin-top="20px">
          <ion-button icon-left size="medium" expand="full" shape="round" color="primary" (click)="onConfirm()" [disabled]="!stepTwoForm.valid" tappable>
            <ion-icon name="arrow-round-forward"></ion-icon>
            {{ 'CONFERMA' | translate }}
          </ion-button>
        </div>
      </form>
        </ion-col>
      </ion-grid>
    </ion-slide>

    <!-- account info -->
    <ion-slide>
      <ion-grid>
        <ion-col>
      <form [formGroup]="stepThreeForm" class="list-form">
        <ion-list>
          <ion-item>
            <ion-label position="floating">{{'EMAIL' | translate | titlecase }}</ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">{{'NOME' | translate | titlecase }}</ion-label>
            <ion-input formControlName="nome"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">{{'COGNOME' | translate | titlecase}}</ion-label>
            <ion-input formControlName="cognome"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">{{'PASSWORD' | translate | titlecase }}</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">{{'CONFERMA_PASSWORD' | translate | titlecase }}</ion-label>
            <ion-input formControlName="passwordCheck" type="password"></ion-input>
          </ion-item>
        </ion-list>
        <div margin-top="20px">
          <ion-button icon-left size="medium" expand="full" shape="round" color="primary" (click)="onSignup()" [disabled]="!stepThreeForm.valid" tappable>
            <ion-icon name="create"></ion-icon>
            {{ 'CREA_ACCOUNT' | translate}}
          </ion-button>
        </div>
      </form>
      </ion-col>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  <nav position="absolute" margin="auto" text-center>
    <a routerLink="/login" routerLinkActive="active">{{ 'ACCEDI' | translate }}</a>
  </nav>
</ion-content>

