<ion-header>
    <ion-toolbar>
        <ion-title color="dark">{{ 'ATTIVITA' | translate }}</ion-title>
        <ion-button slot="start" fill="clear" color="dark" (click)="back()">
            <ion-icon name="arrow-back" size="large"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-item color="secondary" class="recap" lines="full">
    <ion-grid fixed="true" text-center="true">
        <ion-col>{{'CONSUMO_ENERGETICO' | translate}}:</ion-col>
        <ion-col>{{this.attivitaFisica.consumoTotale().toFixed(0)}} kcal</ion-col>
    </ion-grid>
</ion-item>

<ion-content>
    <div *ngIf="attivitaFisica.esercizi.length == 0" class="content">
        <h2 text-center>{{'INSERISCI_ESERCIZIO' | translate}}</h2>
    </div>
    <ion-list *ngIf="attivitaFisica.esercizi.length > 0">
        <ion-list-header>
            {{'ESERCIZI_AGGIUNTI' | translate}}
        </ion-list-header>
        <ion-item *ngFor="let attivita of this.attivitaFisica.esercizi">
            <ion-grid>
                <ion-row>
                    <ion-col size="5">{{attivita.esercizio.nome}}</ion-col>
                    <ion-col size="4">{{(attivita.esercizio.consumoPerMinuto * attivita.durata).toFixed(0)}}kcal
                    </ion-col>
                    <ion-col size="3" text-end>{{attivita.durata}} min</ion-col>
                </ion-row>
            </ion-grid>
            <ion-icon slot="end" class="delete-icon" name="close" (click)="eliminaAttivita(attivita)"></ion-icon>
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="onAdd()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
