<ion-content>
  <ion-list>
    <ion-item lines="full" *ngFor="let ricetta of ricette$ | async" button=true (click)="modificaRicetta(ricetta)">
      <ion-grid fixed="true" text-center="true">
        <ion-row>
          <ion-col><ion-text>{{ricetta.nome}}</ion-text></ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon slot="end" name="close" (click)="eliminaPasto(ricetta)"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPasto()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
