<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start" color="dark">
      {{ 'PROFILE' | translate }}
    </ion-title>
    <ion-icon slot="end" name="more" size="large" (click)="presentMenu($event)"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list align="center">
    <ion-icon name="contact" class="iocon"  color="secondary"></ion-icon>
    <ion-item>
      <ion-label color="secondary">{{'NOME' | translate | titlecase}}</ion-label>
      <ion-label>{{utente.nome}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="secondary">{{'COGNOME' | translate | titlecase}}</ion-label>
      <ion-label>{{utente.cognome}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="secondary">{{'EMAIL' | translate | titlecase}}</ion-label>
      <ion-label>{{utente.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="secondary">{{'DATA_DI_NASCITA' | translate | titlecase}}</ion-label>
      <ion-label>{{utente.dataDiNascita}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="secondary">{{'SESSO' | translate | titlecase}}</ion-label>
      <ion-label>{{utente.sesso.toString() | translate | titlecase}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="secondary">{{'TIPO_DIETA' | translate | titlecase}}</ion-label>
      <ion-label>{{utente.diete[utente.diete.length - 1].obiettivo.toString() | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="secondary">{{'PESO' | translate | titlecase}}</ion-label>
      <ion-label>{{utente.informazioniFisiche[utente.informazioniFisiche.length - 1].altezza}} cm</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="secondary">{{'ALTEZZA' | translate | titlecase}}</ion-label>
      <ion-label>{{utente.informazioniFisiche[utente.informazioniFisiche.length - 1].peso}} kg</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
