<ion-header>
    <ion-toolbar color="primary">
        <ion-title slot="start" color="dark">
            {{ 'PROFILE' | translate }}
        </ion-title>
        <ion-icon slot="end" name="more" size="large" (click)="presentMenu($event)"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="utente">
    <form [formGroup]="profiloFormModel">
        <ion-list no-lines>
            <ion-icon name="contact" class="iocon" color="secondary"></ion-icon>
            <ion-item class="animated fadeInUp">
                <ion-label>{{ 'NOME' | translate }}</ion-label>
                <ion-input slot="end" type="text" formControlName="nome"></ion-input>
            </ion-item>
            <ion-item class="animated fadeInUp">
                <ion-label>{{ 'COGNOME' | translate }}</ion-label>
                <ion-input slot="end" type="text" formControlName="cognome"></ion-input>
            </ion-item>
            <ion-item class="animated fadeInUp">
                <ion-label>{{ 'EMAIL' | translate }}</ion-label>
                <ion-input slot="end" type="email" formControlName="email"></ion-input>
            </ion-item>
            <ion-item class="animated fadeInUp">
                <ion-label>{{ 'DATA_DI_NASCITA' | translate }}</ion-label>
                <ion-input slot="end" type="date" formControlName="dataDiNascita"></ion-input>
            </ion-item>
            <ion-item class="animated fadeInUp">
                <ion-label>{{ 'SESSO' | translate }}</ion-label>
                <ion-select slot="end" formControlName="sesso" placeholder="Select One">
                    <ion-select-option value="FEMMINA">{{'FEMMINA' | translate}}</ion-select-option>
                    <ion-select-option value="MASCHIO">{{'MASCHIO' | translate}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item class="animated fadeInUp">
                <ion-label>{{ 'TIPO_DIETA' | translate }}</ion-label>
                <ion-select slot="end" formControlName="tipoDieta" placeholder="Select One">
                    <ion-select-option value="DIMAGRIRE">{{'DIMAGRIRE' | translate}}</ion-select-option>
                    <ion-select-option value="MANGIARE_SANO">{{'MANGIARE_SANO' | translate}}</ion-select-option>
                    <ion-select-option value="MASSA_MUSCOLARE">{{'MASSA_MUSCOLARE' | translate}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item class="animated fadeInUp">
                <ion-label>{{ 'PESO' | translate }}</ion-label>
                <ion-input type="number" formControlName="peso"></ion-input>
                <p slot="end">kg</p>
            </ion-item>
            <ion-item class="animated fadeInUp">
                <ion-label>{{ 'ALTEZZA' | translate }}</ion-label>
                <ion-input type="number" formControlName="altezza"></ion-input>
                <p slot="end">cm</p>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
