<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="dark">
      {{ 'PROFILE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list align="center">
    <ion-icon name="contact" class="iocon"  color="secondary"></ion-icon>
    <ion-item>
      <ion-label color="secondary">{{'NOME' | translate | titlecase}}</ion-label>
      <ion-label>{{utente.nome}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="secondary">{{'COGNOME' | translate | titlecase}}</ion-label>
      <ion-label>{{utente.cognome}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="secondary">{{'EMAIL' | translate | titlecase}}</ion-label>
      <ion-label>{{utente.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="secondary">{{'DATA_DI_NASCITA' | translate | titlecase}}</ion-label>
      <ion-label>{{utente.dataDiNascita}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="secondary">{{'SESSO' | translate | titlecase}}</ion-label>
      <ion-label>{{utente.sesso}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="secondary">{{'TIPO_DIETA' | translate | titlecase}}</ion-label>
      <ion-label>{{utente.diete[utente.diete.length - 1].obiettivo}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="secondary">{{'PESO' | translate | titlecase}}</ion-label>
      <ion-label>{{utente.informazioniFisiche[utente.informazioniFisiche.length - 1].altezza}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="secondary">{{'ALTEZZA' | translate | titlecase}}</ion-label>
      <ion-label>{{utente.informazioniFisiche[utente.informazioniFisiche.length - 1].peso}}</ion-label>
    </ion-item>
    <form [formGroup]="profiloFormModel">
      <ion-item>
        <ion-label position="fixed" color="secondary">{{ 'LANGUAGE' | translate }}</ion-label>
        <ion-select formControlName="linguaPreferita" okText="{{ 'SAVE_BUTTON' | translate }}" cancelText="{{ 'CANCEL_BUTTON' | translate }}" (ionChange)="this.onChangeLanguage()" >
          <ion-select-option *ngFor="let lingua of lingue" [value]="lingua.valore">{{lingua.etichetta}}</ion-select-option>
        </ion-select>
      </ion-item>
    </form>
  </ion-list>
  <div align="center" margin="10px">
    <ion-button icon-left size="medium" shape="round" color="primary"  (click)="logout()" tappable>
      <ion-icon slot="start" name="exit"></ion-icon>
      {{ 'LOGOUT_MENU' | translate }}
    </ion-button></div>
</ion-content>
