<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'RICETTE' | translate | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full" *ngFor="let ricetta of ricette$ | async" button=true (click)="onClick(ricetta)">
      <ion-grid fixed="true" text-center="true">
        <ion-row>
          <ion-col><ion-text>{{ricetta.nome}}</ion-text></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
