<ion-header>
    <ion-toolbar color="primary">
        <ion-title color="dark">
            {{ 'DIARY' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="stats">
        <div class="calendar">
            <ion-datetime displayFormat="DD/MMM/YYYY" [(ngModel)]="this.diarioAlimentare.data"
                          pickerFormat="DD MMM YYYY" (ionChange)="getDiario()"></ion-datetime>
            <ion-icon name="arrow-dropdown" size="large"></ion-icon>
        </div>

        <div text-center="true">
            <ion-grid fixed="true" text-center="true">
                <ion-row>
                    <ion-col>{{ 'CALORIE' | translate }}
                        <p class="space"> {{this.diarioAlimentare.getTotCalorie().toFixed(0)}}
                            /{{this.dieta.calorieGiornaliere()}} kcal</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>{{ 'PROTEINE' | translate }}
                        <p class="space">{{this.diarioAlimentare.getTotProteine().toFixed(0)}}/{{dieta.proteine}} g</p>
                    </ion-col>

                    <ion-col>{{ 'GRASSI' | translate }}
                        <p class="space">{{this.diarioAlimentare.getTotGrassi().toFixed(0)}}/{{dieta.grassi}} g</p>
                    </ion-col>

                    <ion-col>{{ 'CARBOIDRATI' | translate }}
                        <p class="space"> {{this.diarioAlimentare.getTotCarboidrati().toFixed(0)}}/{{dieta.carboidrati}}
                            g</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>

    <ion-item lines="full" class="water-item">
        <ion-img src="assets/images/glass.png" class="imageWater"></ion-img>
        <ion-label color="tertiary" class="water-count">{{this.diarioAlimentare.acqua}}</ion-label>
        <ion-fab-button size="small" (click)="this.incrementAcqua()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-button size="small" (click)="this.decrementAcqua()">
            <ion-icon name="remove"></ion-icon>
        </ion-fab-button>
    </ion-item>

    <div class="divSquareButton">
        <ion-button expand="full" class="squareButton color" fill="clear"
                    (click)="goToDettagliPasto(this.diarioAlimentare.alimentiColazione, 'colazione')">
            <div>{{ 'COLAZIONE' | translate }}
                <ion-img src="assets/images/colazione.png" class="imageDimension"></ion-img>
                <p class="text">{{this.diarioAlimentare.getCalorieColazione().toFixed(0)}}
                    /{{dieta.calorieColazione}} kcal</p>
            </div>
        </ion-button>
        <ion-button expand="full" class="squareButton color" fill="clear"
                    (click)="goToDettagliPasto(this.diarioAlimentare.alimentiPranzo, 'pranzo')">
            <div>{{ 'PRANZO' | translate }}
                <ion-img src="assets/images/pranzo.png" class="imageDimension"></ion-img>
                <p class="text">{{this.diarioAlimentare.getCaloriePranzo().toFixed(0)}}/{{dieta.caloriePranzo}}
                    kcal</p>
            </div>
        </ion-button>
    </div>

    <div class="divRoundButton">
        <div class="divRoundButton1">
            <ion-button class="roundButton color" fill="clear" (click)="goToDettagliAttivitaFisica()">
                <div>
                    <ion-img src="assets/images/attivita.png" class="imageDimension"></ion-img>
                    <p class="text">{{this.diarioAlimentare.getConsumoTotale().toFixed(0)}}</p>
                </div>
            </ion-button>
        </div>
    </div>


    <div class="divSquareButton">
        <ion-button expand="full" class="squareButton color" fill="clear"
                    (click)="goToDettagliPasto(this.diarioAlimentare.alimentiSnack, 'snack')">
            <div>{{ 'SNACKS' | translate }}
                <ion-img src="assets/images/snacks.png" class="imageDimension"></ion-img>
                <p class="text">{{this.diarioAlimentare.getCalorieSnack().toFixed(0)}}/{{dieta.calorieSnack}}
                    kcal</p>
            </div>
        </ion-button>
        <ion-button expand="full" class="squareButton color" fill="clear"
                    (click)="goToDettagliPasto(this.diarioAlimentare.alimentiCena, 'cena')">
            <div>{{ 'CENA' | translate }}
                <ion-img src="assets/images/cena.png" class="imageDimension dimensionBar dimensionBar"></ion-img>
                <p class="text">{{this.diarioAlimentare.getCalorieCena().toFixed(0)}}/{{dieta.calorieCena}} kcal</p>
            </div>
        </ion-button>
    </div>

</ion-content>
