/* Caratteristiche della data */

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ion-color-light-tint);
  border-bottom: 1px solid lightgrey;
}

/* Caratteristiche del bottone circolare */
.firstRoundButtonDiv {
  display: flex;
  justify-content: center;
}

.secondRoundButtonDiv {
  position: absolute;
  width: 30%;
  max-width: 300px;
}

.secondRoundButtonDiv:after {
  content: "";
  display: block;
  padding-bottom: 100%;

}

.roundButton {
  --color: black;
  border: 4px solid white;
  border-radius: 100%;
  position: absolute;
  margin: -45% auto;
  z-index: 1001;
  width: 100%;
  height: 100%;
}

/* Caratteristiche dei bottoni rettangolari */
.squareButtonDiv {
  display: flex;
  justify-content: space-around;
  height: 29%;
}

.squareButton {
  --color: black;
  width: 50%;
  height: 100%;
  border-bottom: 4px solid white;
  z-index: 1000;
}

.buttonText {
  font-size: smaller;
}

/* Caratteristiche del contenitore delle statistiche */
.stats {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgrey;
}

.space {
  margin-top: 1%;
  margin-bottom: 1%;
}

/* Caratteristiche dei bottoni per aumentare e diminuire quantità d'acqua */
ion-fab-button {
  --box-shadow: none;
  z-index: 1001;
}

/* Caratteristiche del contenitore dell'acqua */
.waterItem {
  background-color: var(--ion-color-light);
  display: flex;
  justify-content: space-evenly;
}

.waterCounter {
  text-align: center;
  font-size: 2em;
}

/* Caratteristiche immagini */
.imageFood {
  height: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.imageWater {
  height: 50px;
}

.stats-icon {
}
