
/* Caratteristiche della data */

.date{
//margin-left: auto;
  //margin-right: auto;
  //background-color: var(--ion-color-secondary);
}

/* Caratteristiche del bottone circolare */
.divRoundButton{
  display: flex;
  justify-content: center;
}

.divRoundButton1{
  position: absolute;
  width: 35%;

}

.divRoundButton1:after {
  content: "";
  display: block;
  padding-bottom: 100%;

}

.roundButton {
  --color: white;
  /* width: 120px;
   height: 120px;*/
  border: 4px solid white;
  border-radius: 100%;
  position: absolute;
  margin: -45% auto;
  z-index: 1001;


  width: 100%;
  height: 100%;

}

/* Caratteristiche dei bottoni rettangolari */
.divSquareButton{
  display: flex;
  justify-content: space-around;
  height: 48%;
}
.squareButton{
  --color: white;
  width: 50%;
  height: 100%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  z-index: 1000;
}

/* Caratteristiche del contenitore dei bottoni  */
.box{
  height: 60%;
  position:relative;
}

/* Caratteristiche del contenitore delle statistiche */
.stats{
  height: 32%;
}

.space{
  margin-top: 1%;
  margin-bottom: 1%;
}

/* Caratteristiche delle barre di progresso */
.colorBar{
  --progress-background: var(--ion-color-dark-contrast);
  --buffer-background: var(--ion-color-secondary-shade)
}
.calorieBar{
  width: 80%;
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.valueBar{
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dimensionBar{
  width: 60%;
}

/* Caratteristiche dei bottoni per aumentare e diminuire quantità d'acqua */
.waterButton{
  --color: white;
  border-radius: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
}

.divWater1{
  position: absolute;
  width: 10%;
}

.divWater1:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* Caratteristiche del contenitore dell'acqua */
.divWater{
  display: flex;
  justify-content: space-evenly;
  height: 7%;
}

/* Caratteristiche immagini */
.imageDimension{
  height: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.labelSize{
  text-align: center;
  font-size: 2em;
}
.calendar{
  display: flex;
  justify-content: center;
}

.calendar1{
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: white;
  width: 40%
}

