<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light">
      {{ 'DIARY' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="stats color" text-center="true" >
    <div class="calendar">
      <ion-card class="calendar1">
      <ion-datetime displayFormat="DD/MMM/YYYY" [(ngModel)]="this.diarioAlimentare.data" pickerFormat="DD MMM YYYY" class="date" (ionChange)="getDiario()"></ion-datetime>
      <ion-icon name="calendar" size="large"></ion-icon>
      </ion-card>
    </div>
    <div>{{ 'CALORIE' | translate }}</div>
    <p class="space"> {{this.diarioAlimentare.getTotCalorie().toFixed(0)}}/{{this.dieta.calorieGiornaliere()}} kcal</p>

    <ion-grid fixed="true" text-center="true" >
      <ion-row>
        <ion-col>{{ 'PROTEINE' | translate }}
          <p class="space">{{this.diarioAlimentare.getTotProteine().toFixed(0)}}/{{dieta.proteineGiornaliere}} g</p>
        </ion-col>

        <ion-col>{{ 'GRASSI' | translate }}
          <p class="space">{{this.diarioAlimentare.getTotGrassi().toFixed(0)}}/{{dieta.grassiGiornalieri}} g</p>
        </ion-col>

        <ion-col>{{ 'CARBOIDRATI' | translate }}
          <p  class="space"> {{this.diarioAlimentare.getTotCarboidrati().toFixed(0)}}/{{dieta.carboidratiGiornalieri}} g</p>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <div class="divWater">
    <ion-img src="assets/images/glass.png"></ion-img>
    <ion-label color="tertiary" class="labelSize" >{{this.diarioAlimentare.acqua}}</ion-label>
      <div>
        <div class="divWater1">
          <ion-button class="waterButton color" fill="clear" (click)="this.incrementAcqua()">
            <p><ion-icon name="add" size="large"></ion-icon></p>
          </ion-button>
        </div>
      </div>
      <div>
        <div class="divWater1">
          <ion-button class="waterButton color" fill="clear" (click)="this.decrementAcqua()">
            <p><ion-icon name="remove" size="large"></ion-icon></p>
          </ion-button>
        </div>
      </div>
  </div>

  <div class="box">
    <div class="divSquareButton">
      <ion-button expand="full" class="squareButton color" fill="clear" (click)="goToDettagliPasto(this.diarioAlimentare.alimentiColazione, 'colazione')">
        <div>{{ 'COLAZIONE' | translate }}
          <ion-img src="assets/images/colazione.png" class="imageDimension"></ion-img>
          <p>{{this.diarioAlimentare.getCalorieColazione().toFixed(0)}}/{{dieta.calorieColazione}} kcal</p>
        </div>
      </ion-button>
      <ion-button expand="full" class="squareButton color" fill="clear" (click)="goToDettagliPasto(this.diarioAlimentare.alimentiPranzo, 'pranzo')">
        <div>{{ 'PRANZO' | translate }}
          <ion-img src="assets/images/pranzo.png" class="imageDimension"></ion-img>
          <p>{{this.diarioAlimentare.getCaloriePranzo().toFixed(0)}}/{{dieta.caloriePranzo}} kcal</p>
        </div></ion-button>
    </div>

    <div class="divRoundButton">
      <div class="divRoundButton1">
        <ion-button class="roundButton color" fill="clear" (click)="goToDettagliAttivitaFisica()">
          <div>
            <ion-img src="assets/images/attivita.png" class="imageDimension"></ion-img>
            <p>{{this.diarioAlimentare.getConsumoTotale().toFixed(0)}}</p>
          </div>
        </ion-button>
      </div>
    </div>


    <div class="divSquareButton">
      <ion-button expand="full" class="squareButton color" fill="clear" (click)="goToDettagliPasto(this.diarioAlimentare.alimentiSnack, 'snack')">
        <div>{{ 'SNACKS' | translate }}
          <ion-img src="assets/images/snacks.png" class="imageDimension"></ion-img>
          <p>{{this.diarioAlimentare.getCalorieSnack().toFixed(0)}}/{{dieta.calorieSnack}} kcal</p>
        </div></ion-button>
      <ion-button expand="full" class="squareButton color" fill="clear" (click)="goToDettagliPasto(this.diarioAlimentare.alimentiCena, 'snack')">
        <div>{{ 'CENA' | translate }}
          <ion-img src="assets/images/cena.png" class="imageDimension dimensionBar dimensionBar"></ion-img>
          <p>{{this.diarioAlimentare.getCalorieCena().toFixed(0)}}/{{dieta.calorieCena}} kcal</p>
        </div></ion-button>
    </div>
  </div>
</ion-content>
