
/* Caratteristiche della data */

.calendar{
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: white;
}

/* Caratteristiche del bottone circolare */
.divRoundButton{
  display: flex;
  justify-content: center;
}

.divRoundButton1{
  position: absolute;
  width: 35%;

}

.divRoundButton1:after {
  content: "";
  display: block;
  padding-bottom: 100%;

}

.roundButton {
  --color: white;
  border: 4px solid white;
  border-radius: 100%;
  position: absolute;
  margin: -45% auto;
  z-index: 1001;


  width: 100%;
  height: 100%;

}

/* Caratteristiche dei bottoni rettangolari */
.divSquareButton{
  display: flex;
  justify-content: space-around;
  height: 48%;
}
.squareButton{
  --color: white;
  width: 50%;
  height: 100%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  z-index: 1000;
}
.text{
  font-size: smaller;
}

/* Caratteristiche del contenitore dei bottoni  */
.box{
  height: 61%;
  position:relative;
}

/* Caratteristiche del contenitore delle statistiche */
.stats{
  height: 32%;
}



.space{
  margin-top: 1%;
  margin-bottom: 1%;
}

/* Caratteristiche dei bottoni per aumentare e diminuire quantità d'acqua */
.waterButton{
  --color: white;
  border-radius: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  z-index: 1001;
}

.divWater1{
  position: absolute;
  width: 10%;
}

.divWater1:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* Caratteristiche del contenitore dell'acqua */
.divWater{
  display: flex;
  justify-content: space-evenly;
  height: 7%;
}
.labelSize{
  text-align: center;
  font-size: 2em;
}

/* Caratteristiche immagini */
.imageDimension{
  height: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


