<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light">
      {{ 'DIARY' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(diarioAlimentare$ | async) as element">
  <div class="stats color" text-center="true" >

    <ion-datetime displayFormat="DD/MMM/YYYY" [value]="date" [(ngModel)]="date" pickerFormat="DD MMM YYYY" class="date" (ionChange)="changeDay()"></ion-datetime>

    <div>{{ 'CALORIE' | translate }}</div>
    <p class="space"> {{element.getTotCalorie}} /{{calorieTotMax}} kcal</p>
    <ion-progress-bar [value]="element.getTotCalorie/calorieTotMax" class="calorieBar colorBar space"></ion-progress-bar>

    <ion-grid fixed="true" text-center="true" >
      <ion-row>
        <ion-col>{{ 'PROTEINE' | translate }}
          <p class="space">{{element.getTotProteine}} /{{dieta.proteineGiornaliere}} g</p>
          <ion-progress-bar [value]="element.getTotProteine/dieta.proteineGiornaliere" class="valueBar colorBar space"></ion-progress-bar>
        </ion-col>

        <ion-col>{{ 'GRASSI' | translate }}
          <p class="space">{{element.getTotGrassi}} /{{dieta.grassiGiornalieri}} g</p>
          <ion-progress-bar [value]="element.getTotGrassi /dieta.grassiGiornalieri" class="valueBar colorBar space"></ion-progress-bar>
        </ion-col>

        <ion-col>{{ 'CARBOIDRATI' | translate }}
          <p  class="space"> {{element.getTotCarboidrati}} /{{dieta.carboidratiGiornalieri}} g</p>
          <ion-progress-bar [value]="element.getTotCarboidrati /dieta.carboidratiGiornalieri" class="valueBar colorBar space"></ion-progress-bar>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <div class="divWater">
    <ion-img src="assets/images/glass.png"></ion-img>
    <ion-label color="tertiary" class="labelSize" >{{element.acqua}}</ion-label>
    <ion-button class="waterButton color" fill="clear" (click)="addAcqua(element)"><ion-icon name="add"></ion-icon></ion-button>
    <ion-button class="waterButton color" fill="clear" (click)="removeAcqua(element)"><ion-icon name="remove"></ion-icon></ion-button>
  </div>

  <div class="box">


    <div class="divSquareButton">
      <ion-button expand="full" class="squareButton color" fill="clear" (click)="addFood(colazione)">
        <div>{{ 'COLAZIONE' | translate }}
          <ion-img src="assets/images/colazione.png" class="imageDimension"></ion-img>
          <p>{{element.getCalorieColazione}} /{{dieta.calorieGiornaliere[0]}} kcal</p>
          <ion-progress-bar [value]="element.getCalorieColazione/dieta.calorieGiornaliere[0]" class="valueBar colorBar dimensionBar"></ion-progress-bar>
        </div>
      </ion-button>
      <ion-button expand="full" class="squareButton color" fill="clear" (click)="addFood(pranzo)">
        <div>{{ 'PRANZO' | translate }}
          <ion-img src="assets/images/pranzo.png" class="imageDimension"></ion-img>
          <p>{{element.getCaloriePranzo}} /{{dieta.calorieGiornaliere[1]}} kcal</p>
          <ion-progress-bar [value]="element.getCaloriePranzo/dieta.calorieGiornaliere[1]" class="valueBar colorBar dimensionBar"></ion-progress-bar>
        </div></ion-button>
    </div>

    <div class="divRoundButton">
      <div class="divRoundButton1">
      <ion-button class="roundButton color" fill="clear" (click)="addAttivita()">
        <div>
          <ion-img src="assets/images/attivita.png" class="imageDimension"></ion-img>
          <p>{{element.consumoTotale}}</p>
        </div>
      </ion-button>
      </div>
    </div>


    <div class="divSquareButton">
      <ion-button expand="full" class="squareButton color" fill="clear" (click)="addFood(snacks)">
        <div>{{ 'SNACKS' | translate }}
          <ion-img src="assets/images/snacks.png" class="imageDimension"></ion-img>
          <p>{{element.getCalorieSnack}} /{{dieta.calorieGiornaliere[2]}} kcal</p>
          <ion-progress-bar [value]="element.getCalorieSnack /dieta.calorieGiornaliere[2]" class="valueBar colorBar dimensionBar"></ion-progress-bar>
        </div></ion-button>
      <ion-button expand="full" class="squareButton color" fill="clear" (click)="addFood(cena)">
        <div>{{ 'CENA' | translate }}
          <ion-img src="assets/images/cena.png" class="imageDimension dimensionBar dimensionBar"></ion-img>
          <p>{{element.getCalorieCena}} /{{dieta.calorieGiornaliere[3]}} kcal</p>
          <ion-progress-bar [value]="element.getCalorieCena /dieta.calorieGiornaliere[3]" class="valueBar colorBar dimensionBar"></ion-progress-bar>
        </div></ion-button>
    </div>
  </div>
</ion-content>
