<ion-content>
  <ion-list>
    <ion-item lines="full" *ngFor="let alimento of alimenti$ | async" button=true>
      <ion-grid fixed="true" text-center="true">
        <ion-row>
          <ion-col><ion-text>{{alimento.nome}}</ion-text></ion-col>
          <ion-col><ion-text>{{alimento.calorie.toString()}} kcal</ion-text></ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon slot="end" name="close" (click)="eliminaAlimento(alimento)"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="creaAlimento()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
