<ion-content>
  <div class="info" *ngIf="alimenti.length == 0">
    <h2 text-center="">{{'CREA_ALIMENTO' | translate}}</h2>
  </div>
  <ion-list *ngIf="alimenti.length > 0">
    <ion-item lines="full" *ngFor="let alimento of alimenti" button=true>
      <ion-grid fixed="true" text-center="true" (click)="modificaAlimento(alimento)">
        <ion-row align-items-center>
          <ion-col size="7" text-left>{{alimento.nome}}</ion-col>
          <ion-col size="5">{{alimento.calorie.toString()}} kcal/100gr</ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon slot="end" name="close" (click)="eliminaAlimento(alimento)"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="creaAlimento()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
