<ion-header>
    <ion-toolbar>
        <ion-title>{{'RICETTA' | translate | uppercase}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="ricettaFormModel" class="list-form">
        <ion-item class="animated fadeInUp">
            <ion-label position="floating">
                {{ 'NOME' | translate | titlecase }}</ion-label>
            <ion-input color="secondary" type="text" inputmode="text" placeholder="{{'NUOVO-NOME' | translate}}"
                       formControlName="nome"></ion-input>
        </ion-item>
    </form>
    <ion-grid fixed="true" text-center="true">
        <ion-row align-items-center>
            <ion-col><ion-icon size="large" src="assets/images/calorie.svg" margin-end="10px"></ion-icon></ion-col>
            <ion-col>{{'CALORIE' | translate}}</ion-col>
            <ion-col>{{ ricetta.getTotaleCalorie().toFixed(0)}} kcal</ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col><ion-icon size="large" src="assets/images/proteine.svg" margin-end="10px"></ion-icon></ion-col>
            <ion-col>{{'PROTEINE' | translate}}</ion-col>
            <ion-col>{{ricetta.getTotaleProteine().toFixed(0)}} g</ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col><ion-icon size="large" src="assets/images/grassi.svg" margin-end="10px"></ion-icon></ion-col>
            <ion-col>{{'GRASSI' | translate}}</ion-col>
            <ion-col>{{ricetta.getTotaleGrassi().toFixed(0)}} g</ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col><ion-icon size="large" src="assets/images/carboidrati.svg" margin-end="10px"></ion-icon></ion-col>
            <ion-col>{{'CARBOIDRATI' | translate}}</ion-col>
            <ion-col>{{ricetta.getTotaleCarboidrati().toFixed(0)}} g</ion-col>
        </ion-row>
    </ion-grid>

    <ion-item color="primary">
        <ion-label>{{ 'ALIMENTI_AGGIUNTI' | translate | titlecase }}</ion-label>
        <ion-fab-button slot="end" size="small" color="light" (click)="aggiungiAlimento()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-item>

    <div class="info" *ngIf="ricetta.ingredienti.length == 0">
        <p text-center="">{{'AGGIUNGI_ALIMENTO' | translate}}</p>
    </div>

    <ion-list>
        <ion-item-sliding *ngFor="let ingrediente of this.ricetta.ingredienti" #sliding>
            <ion-item class="bg-white" (click)="mostraOpzioniItem(sliding)">
                <ion-grid fixed="true" text-center="true">
                    <ion-row align-items-center>
                        <ion-col>
                            <ion-text>{{ingrediente.alimento.nome}}</ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-text>{{ingrediente.quantita}} g</ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="secondary" (click)="modificaAlimento(ingrediente, sliding)">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-item-option>
                <ion-item-option color="danger" (click)="eliminaAlimento(ingrediente)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar text-center="true">
        <ion-button fill="clear" size="large" color="dark" class="dimension"
                    (click)="cancella()">{{ 'CANCEL_BUTTON' | translate }}</ion-button>
        <ion-button fill="clear" size="large" color="dark" class="dimension" (click)="conferma()"
                    [disabled]="!ricettaFormModel.valid || ricetta.ingredienti.length == 0">{{ 'CONFERMA' | translate | uppercase }}</ion-button>
    </ion-toolbar>
</ion-footer>
